{% macro link_base(url, title, add_anchor) %}
    <a href="{{ url }}" alt="vai alla pagina {{ title }}" {{ add_anchor }}>{{ title }}</a>
{% endmacro %}

{% macro link(webpage, add_anchor) %}
    {{ _self.link_base(webpage | wp_path, webpage.title, add_anchor) }}
{% endmacro %}

{% macro editpost_link(post) %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_kfi_cms_post_edit', {'id': post.id}) }}" class="btn btn-mini">
            <i class="icon-pencil"></i>
        </a>
    {% endif %}
{% endmacro %}

{% macro breadcrumbs(pages, home) %}
    <nav id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="{{ home | default(path('homepage')) }}"
                   rel="index{%- for i in pages | length %} up{%- endfor %}">Home</a>
                <span class="divider">/</span>
            </li>
            {% for page in pages %}
                {% if loop.revindex0 != 0 %}
                    {% set add_anchor = '' %}
                    {% for i in 0..loop.revindex0 %}
                        {% set add_anchor = add_anchor ~ 'up ' %}
                    {% endfor %}
                    <li>{{ _self.link(page, 'rel="' ~ add_anchor ~ '"') }}
                        <span class="divider">/</span></li>
                {% else %}
                    <li class="active"><a>{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}

{% macro breadcrumbs_array(pages, home) %}
    <nav id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="{{ home | default(path('homepage')) }}"
                   rel="index{%- for i in pages | length %} up{%- endfor %}">Home</a>
                <span class="divider">/</span>
            </li>
            {% for title, url in pages %}
                {% if loop.revindex0 != 0 %}
                    {% set add_anchor = '' %}
                    {% for i in 0..loop.revindex0 %}
                        {% set add_anchor = add_anchor ~ 'up ' %}
                    {% endfor %}
                    <li>{{ _self.link_base(url, title, add_anchor) }}
                        <span class="divider">/</span></li>
                {% else %}
                    <li class="active"><a>{{ title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}

{% macro breadcrumbs(pages, home) %}
    <nav id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <a href="{{ path(home | default('homepage')) }}"
                   rel="index{%- for i in pages | length %} up{%- endfor %}">Home</a>
                <span class="divider">/</span>
            </li>
            {% for page in pages %}
                {% if loop.revindex0 != 0 %}
                    {% set add_anchor = '' %}
                    {% for i in 0..loop.revindex0 %}
                        {% set add_anchor = add_anchor ~ 'up ' %}
                    {% endfor %}
                    <li>{{ _self.link(page, 'rel="' ~ add_anchor ~ '"') }}
                        <span class="divider">/</span></li>
                {% else %}
                    <li class="active"><a>{{ page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endmacro %}

{% macro titlebreadcrumbs(pages) %}
    {% spaceless %}
        {% for page in pages|reverse %}
            {{ page.title }}
            {% if(loop.revindex0 != 0) %}
                &laquo;
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endmacro %}